@model ClassicComedians.Models.ViewModels.ComedianCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Comedian</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comedian.FirstName" class="control-label"></label>
                <input asp-for="Comedian.FirstName" class="form-control" />
                <span asp-validation-for="Comedian.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comedian.LastName" class="control-label"></label>
                <input asp-for="Comedian.LastName" class="form-control" />
                <span asp-validation-for="Comedian.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comedian.BirthDate" class="control-label"></label>
                <input asp-for="Comedian.BirthDate" class="form-control" />
                <span asp-validation-for="Comedian.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comedian.DeathDate" class="control-label"></label>
                <input asp-for="Comedian.DeathDate" class="form-control" />
                <span asp-validation-for="Comedian.DeathDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comedian.GroupId" class="control-label"></label>
                <select asp-for="Comedian.GroupId" asp-items="@Model.GroupOptions" class="form-control" ></select>
                <span asp-validation-for="Comedian.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
