@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Classic Comedians</h2>
        <ul>
            <li><a asp-controller="Comedian" asp-action="Index">Comedians</a></li>
        </ul>
    </div>
</div>
